<div class="sidebar">
    <div class="logo">
        <img src="logo.png" alt="Logo">
    </div>
    <nav class="menu">
        <ul>
            <li><a href="http://localhost:8080/home"><img src="home_icon.png" alt="홈">홈</a></li>
            <li><a href="#"><img src="search_icon.png" alt="검색">검색</a></li>
            <li><a href="#"><img src="hot_icon.png" alt="탐색 탭">인기 게시글</a></li>
            <li><a href="#"><img src="save_icon.png" alt="릴스">저장</a></li>
            <li><a href="#"><img src="notifications_icon.png" alt="알림">알림</a></li>
            <li><a href="http://localhost:8080/request"><img src="post_icon.png" alt="프로필">공지글 신청</a></li>
            <li><a href="#"><img src="more_icon.png" alt="더 보기">더 보기</a></li>
        </ul>
    </nav>
</div>