<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="accessibility">
        <a href="#content">본문 바로가기</a>
    </div>
    <div class="container">
        <!-- 헤더 섹션 -->
        <header id="header">
            <h1><img src="logo.png" alt="충북대학교" class="logo"></h1>
        </header>

        <!-- 메인 콘텐츠 -->
        <main id="content">
            <div class="login_wrap">
                <div class="login_box">
                    <form class="signup_form" method="POST" action="/signup">
                        <div class="form_header">
                            <h4><img src="lock.png" alt="키" class="lock"></h4>
                            <h2>학생 회원가입</h2>
                            <p class="notice">회원 정보를 입력하여 주세요.</p>
                        </div>
                        <div class="input_box">
                            <div class="input_group">
                                <label for="username">이름</label>
                                <input type="username" id="username" name="username" required>
                            </div>
                            <div class="input_group">
                                <label for="phone">전화번호</label>
                                <input type="text" id="phone" name="phone" required>
                            </div>
                            <div class="input_group">
                                <label for="email">이메일</label>
                                <input type="email" id="email" name="email" required>
                            </div>
                            <div class="input_group">
                                <label for="password">비밀번호</label>
                                <input type="password" id="password" name="password" required>
                            </div>
                            
                            <button type="submit" class="signup_button">회원가입</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>

</body>
</html>